<%#homepage of the application %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>

<body>
<h1 id=head> Real Estate Property Application</h1>
<div id="parent">
        <div id="left">
        <%= link_to 'Renter',new_renter_registration_path, class:'But' %>
        
        </div>
        <div id="right">
       <%= link_to 'Agent',new_agent_registration_path ,class: 'But2'%>
        </div>
</div>

<p class= buy> Why Buy?  Rent One..</p>
<p class = buy1> save time <br>  save money</p>

</body>
</html>
