<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @renter.name %>,</h1>
    <p>
      The property <% @property.name%> you added to you Approached was booked by someone.
      <br>
      You will receive an email, when the same property is once available.
    </p>
 <br>   
    <p>Thanks for Using our website, have a great day</p>
  </body>
</html>