<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @renter.name %></h1>
    <p>
      The property <%@property.name%> that you approached , that has been accepted by the owner of that particular property..his details are given below, you can connect him/her 
      <br>Agent Name: <%= @agent.name %>.
      <br>Agent email: <%=@agent.email%>
      <br>contact : <%= @agent.contact%>
     <br>
    </p>
     <p>Thanks for Using our website, have a great day</p>
  </body>
</html>